/* Estilos para toda la pagina */
body{
    background:orange;
}

/* Estilos para el titulo */
h1{
    color:#ffcc03;
    text-align: center;
    font-size: 4em;
    padding-top:1%;
}
.box { 
    display: inline-block; 
    padding: 1rem; 
    margin: 1rem; 
}
/* Estilos para la aplicacion */
#app{
    padding-top: 5%;
    text-align:center;
}

.box.winner {
     background: green; 
}

/* Estilos para los pokemon  */
.pokemon {
     width: 5rem;
      display: inline-block; 
      margin: 1rem;
}

.pokemon-head, .pokemon-body {
     height: 5rem; 
}

.pokemon-feet {
     height: 3rem; 
}

.pokemon.bulvasaur .pokemon-head {
    background: #ff6a62; 
}

.pokemon.bulvasaur .pokemon-body {
     background: #62d5b4; 
}

.pokemon.bulvasaur .pokemon-feet {
     background: #317373; 
}

.pokemon.squirtle .pokemon-head, .pokemon.squirtle .pokemon-feet { 
    background: #8bc5cd; 
}

.pokemon.squirtle .pokemon-body {
     background: #ffe69c; 
}

.pokemon.charmander {
     background: #de5239; 
}

.pokemon.pikachu {
     background: #f6e652; 
}
